@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: lufga500;
  src: url(./lufgaFont/LufgaMedium.ttf);
}
@font-face {
  font-family: lufga400;
  src: url(./lufgaFont/LufgaRegular.ttf);
}
@font-face {
  font-family: lufga600;
  src: url(./lufgaFont/LufgaSemiBold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  width: 100%;
  overflow: hidden;
}
li{
  list-style-type: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: lufga400;
  font-size: 18px;
  color: #000;
  background: #FFEDE9;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container{
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 80px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
}

/* _____________________ */
.footerFirst::before{
  content: '';
  background-image: url(../src/assets/png/footer/footerBg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 205px;
  height: 307px;
  position: absolute;
  transform: translate(-320px, 140px);
}
.last::before{
  content: '';
  background-image: url(../src/assets/png/footer/footerbgright.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 234px;
  height: 464px;
  position: absolute;
  right: 0;
  transform: translate(100px, -100px);
}


/* _____________________ */